<div class="card">
  <h5 class="card-header">Error: 404</h5>
  <div class="card-body">
    <h5 class="card-title">Sorry, page not found.</h5>
    <p class="card-text">Please refresh page to continue.</p>
    <a href="/" class="btn btn-primary">Refresh</a>
  </div>
</div>